@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Prata&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: "#ffffff";
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #e05c5c !important;
  border-radius: 6px;
  padding: 8px 12px;
  background: transparent !important;
  transition: 0.2s;
  cursor: pointer;
}

.custom-dropdown-item:hover {
  background: #2a1a1a !important;
}
